
@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url(../images/Hairdressing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
}


.container{
    height: auto;
    align-content: center;
    padding: 1%;
    max-width: 100%;
}



.card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-margin{
    margin-bottom: 18px;
}

.card-header{
    margin:auto;
    width: 100%;
    color: white;
    height: auto; 
    font-size: 30px;
    text-align: center;
    /* border-bottom: 5px solid white; */
}

.card-body {
    color: white;
}

.nav-link {
    color:white;
}


#myheader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100px;
}


#myModal {
    color: black;
}

